/* Fonts Size */

$font-xs: 8px;

$font-s: $font-xs *2;

$font-m: $font-xs *3;

$font-l: $font-xs *4;

/* Space (margin/padding) */

$space-xs: 8px;

$space-xxs: $space-xs /2;

$space-s: $space-xs *2;

$space-m: $space-xs *3;

$space-l: $space-xs *4;

/* Long (width) */

$long-xs: 8px;

$long-xxs: $long-xs /2;

$long-s: $long-xs *2;

$long-m: $long-xs *3;

$long-l: $long-xs *4;

/* Tall (height) */

$tall-xs: 8px;

$tall-xxs: $tall-xs /2;

$tall-s: $tall-xs *2;

$tall-m: $tall-xs *3;

$tall-l: $tall-xs *4;

/* Line (line-height/interlineado) */

$line-xs: 8px;

$line-xxs: $line-xs /2;

$line-s: $line-xs *2;

$line-m: $line-xs *3;

$line-l: $line-xs *4;